.fieldset1 label {
  display: block;
}

body {
  text-align: center;
  background: linear-gradient(90deg, gold, gold);
  font-family: verdana;
}

fieldset {
  padding: 1em;
}

form {
  width: 30vw;
  margin: 0 auto;
}