/* shop-styles.css */

@font-face {
    font-family: 'HKGrotesk-SemiBold';
    src: url('fonts/HKGrotesk-SemiBold.otf') format('opentype');
    /* You can add other font formats (e.g., woff, woff2, ttf) for better browser compatibility */
}

@font-face {
    font-family: 'HKGrotesk-Medium';
    src: url('fonts/HKGrotesk-Medium.otf') format('opentype');
}

html {
    min-height: 100%;
    position: relative;
  }

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

footer {
    border-top: 1px solid #ececec;
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 20px;
    font-size: 0.875rem;
}

footer a {
    color: #333333;
    text-decoration: none;
}

/* Add styling for the brand name section */
.brand-name {
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 30px;
    font-family: 'HKGrotesk-SemiBold', sans-serif;
    letter-spacing: 1px;
}

#herobrandname {
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 0.75em;
    margin: 0;
    border-bottom: 1px solid #ececec;
    font-family: 'HKGrotesk-SemiBold', sans-serif;
    font-size: 2em;
    letter-spacing: 1px; /* Adjust the value as needed */
}

    /* Media query for screens with a maximum width of 768px (typical for mobile devices) */
    @media (max-width: 768px) {
        #herobrandname {
            font-size: 1em; /* Adjust the font size for mobile screens as needed */
        }
    }

header {
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}
/*
  #menu {
    z-index: 2;
  }
  
  #menu-bar {
    width: 3vw;
    height: 40px;
    margin-top: 0;
    cursor: pointer;
    border: 1px solid black;
    padding-top: 36px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12px;
    z-index: 999;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color:#000000;
    display: block;
    border-radius: 5px;
    transition: 0s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0s ease;
    display: none;
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    top: 0;
    left: 0;
    z-index: 0; /* Make sure it's a higher z-index than #menu-bar
  }
  
  .nav ul {
    margin-top: 0%;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
  }
  
  .nav li {
    list-style: none;
    text-align: left;
    margin-bottom: 0%;
    line-height: 2.5;
  }
  
  .nav li a {
    /*border: 1px solid black;
    top: 0;
    left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    padding-top: 0;
    padding-left: 70px;
    padding-right: 0;
    padding-bottom: 0;
    color: black;
    font-size: 30px;
    text-decoration: none;
    z-index: -1;
    display: flex;
  }
  
  .nav li a:hover {
    background-color: #eaeded;
}

#menu {
    margin: 0;
    padding: 0;
    background: white;
}
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    background: white;
  }

  #menu-bg {
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.8);
    z-index: 0;
  }
  
  .change {
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .change .bar {
    background-color: black;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-width: 100%;
    height: 100vw;
  }

  */

#brandnameanchor {
    color: black;
}

.product {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 0px;
    padding-bottom: 20px;
    text-align: left;
    margin-top: 0%;
}

.product h4 {
    color: #0e0e0e;
    margin: 0px;
}

.product p {
    font-size: 16px;
    color: #0e0e0e;
}

.product-images img {
    max-width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    border: 1px solid #ececec;
}

.checkout-button {
    display: block;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center;
}

.checkout-button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#hero {
    color: #000000;
}

/* Define the color for normal links */
a, a:visited {
    text-decoration: none; /* Remove underlines */
}

#sizelink {
    color:#000000;
}

#sizelink:hover {
    text-decoration:underline;
}

.men-pant-size-image img {
    max-width: 100%;
    max-height: auto;
}

.home-page-links {
    color: black;
}

.home-page-links:hover {
    text-decoration: underline;
}

.about-links {
    max-width: 50vw;
    background-color: white;
    height: 100vh;
}

#find-us-p {
    font-size: 1.44em;
    padding-left: 10vw;
    line-height: 2.0;
    margin-bottom: 0;
}

.about-links ul {
    list-style: none;
    width: 50vw;
    padding-left: 0;
    margin-top: 0;
}

.about-links li {
    padding-left: 0vw;
    line-height: 2.0;
}

.about-links a {
    font-size: 1.2em;
    margin-top: 0;
    color: black;
    display: flex;
    padding-left: 10vw;
    margin-left: 0;
    align-items: center;
}

.about-links a:visited {
    color: black;
}

.about-links a:hover {
    background-color: #eaeded;
}

.about-links p {
    font-size: 1.2em;
    margin: 0;
    padding-top: 0;
    padding-left: 0vw;
}

.dark-side {
    height: 100vh;
    width: 100vw;
    margin-top: 0;
    background-color: rgba(0,0,0,0.8);
    max-width: 100%;
    z-index: 0;
    overflow: hidden;
}