.section2 {
    background-color: #A3E4d7;
}

.look {
    color: #cd6155;
    display: inline;
}

.center {
    text-align: center;
}

.soul {
    text-align: center;
    background: linear-gradient(180deg, silver, gold);
    color: black;
    padding: 50px;
    font-family: cursive;
}

.forme-picture {
    width: 10vw;
    height: auto;
}

.burlywood {
    background-color: burlywood;
}

.gummytable {
    border: 5px solid black;
    margin: auto;
}

.gummytable th, .gummytable td {
    border-right: 5px solid greenyellow;
    margin: 0px;
    padding: 20px;
}

.gummypicture {
    width: 30px;
}