* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5d5d5d, #9e9e9e);
    color: #fff;
}

.header, .main, .footer, .calendly-wrapper {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 2rem;
    margin: 2rem;
}

.header h1, .header p {
    text-align: center;
}

.main {
    line-height: 1.5;
}

.footer {
    text-align: center;
}

.calendly-wrapper {
    margin-top: 2rem;
}

#calendly {
    max-width: 100%;
    overflow: hidden;
}

/* Media queries for responsiveness */
@media screen and (min-width: 768px) {
    .header, .footer {
        margin: 2rem 5rem;
    }
    .main {
        padding: 2rem 5rem;
    }
}

@media screen and (min-width: 992px) {
    .header, .footer {
        margin: 2rem 10rem;
    }
    .main {
        padding: 2rem 10rem;
    }
}
