body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.main {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 16px; /* Increase the padding value */
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px; /* Decrease the font size */
    width: 100%;
    white-space: normal; /* Add this to wrap the text inside the button */
    line-height: 1.2; /* Add this to adjust the line height */
}

@media (min-width: 768px) {
    input[type="submit"] {
        width: auto;
    }
}
