.section2 {
    background-color: #A3E4d7;
}

.look {
    color: #cd6155;
    display: inline;
}

.center {
    text-align: center;
}

.soul {
    text-align: center;
    background: linear-gradient(180deg, silver, gold);
    color: black;
    box-shadow: gold 20px;
    padding: 20px;
}